<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<title>GAMUL</title>
<style type="text/css">
    html, body, div, canvas {
        margin: 0;
        padding: 0;
    }
</style>
<body style="overflow:hidden;">
    <canvas id="canvas">This browser is not supported.</canvas>
</body>
<script src="{{ url_for('static', filename='mesh.js') }}" > </script>
<script src="{{ url_for('static', filename='renderObject.js') }}" > </script>
<script src="{{ url_for('static', filename='screen.js') }}" > </script>
<script src="{{ url_for('static', filename='picking.js') }}" > </script>
<script src="{{ url_for('static', filename='omokboard.js') }}" > </script>
<script src="{{ url_for('static', filename='main.js') }}" > </script>